<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>New Article</title>

    <style>
        body {
            padding-top: 50px;
        }

        .special {
            padding-top: 50px;
        }
    </style>
</head>
<body>
<div class="container special">
    <h2 class="h2">Ajout d'un nouvel article</h2>
    <div>
        <form method="post" th:action="@{/saveArticle}" th:object="${article}">
            <div class="form-group">
                <label for="titreInput">Titre</label>
                <input type="text" th:field="*{titre}" class="form-control" id="titreInput"
                       aria-describedby="titreHelp" placeholder="Saisir le titre de l'article">
                <small id="titreHelp" class="form-text text-muted">Merci de saisir le titre de l'article.</small>
            </div>

            <div class="form-group">
                <label for="soustitreInput">Sous titre</label>
                <input type="text" th:field="*{soustitre}" class="form-control" id="soustitreInput"
                       aria-describedby="soustitreHelp" placeholder="Saisir le soustitre de l'article">
                <small id="soustitreHelp" class="form-text text-muted">Merci de saisir le soustitre de l'article.</small>
            </div>

            <div class="form-group">
                <label for="contenuInput">Contenu</label>
                <input type="text" th:field="*{contenu}" class="form-control" id="contenuInput"
                       aria-describedby="contenuHelp" placeholder="Saisir le contenu de l'article">
                <small id="contenuHelp" class="form-text text-muted">Merci de saisir le contenu de l'article.</small>
            </div>

            <div class="form-group">
                <label for="imageInput">Image</label>
                <input type="file" name="image" id="imageInput" class="form-control-file">
                <small id="imageHelp" class="form-text text-muted">Sélectionnez une image pour l'article.</small>
            </div>

            <div class="form-group">
                <label for="dateInput">Date de Publication</label>
                <input type="date" th:field="*{date}" class="form-control" id="dateInput"
                       aria-describedby="heureHelp" placeholder="Saisir le contenu de l'article">
                <small id="dateHelp" class="form-text text-muted">Merci de saisir datePublication de l'article.</small>
            </div>

            <div class="form-group">
                <label for="heureInput">Heure</label>
                <input type="time" th:field="*{heure}" class="form-control" id="heureInput"
                       aria-describedby="heureHelp" placeholder="Saisir le contenu de l'article">
                <small id="heureHelp" class="form-text text-muted">Merci de saisir l'heure de l'article.</small>
            </div>

            <div class="form-group">
                <label for="athleteInput">Athlète :</label>
                <select id="athleteInput" class="form-control" th:field="*{athlete.id}">
                    <option value="">Sélectionnez un athlète</option>
                    <option th:each="athlete : ${listAthlete}" th:value="${athlete.id}" th:text="${athlete.nom}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="paysInput">Lieu de l'evenement Pays :</label>
                <select id="paysInput" class="form-control" th:field="*{pays.id}">
                    <option value="">Sélectionnez un pays</option>
                    <option th:each="pays : ${listPays}" th:value="${pays.id}" th:text="${pays.nom}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="auteurInput">Auditeur de l'article :</label>
                <select id="auteurInput" class="form-control" th:field="*{auteur.id}">
                    <option value="">Sélectionnez un auteur</option>
                    <option th:each="auteur : ${listAuteur}" th:value="${auteur.id}" th:text="${auteur.nom}"></option>
                </select>
            </div>

            <a th:href="@{/createArticle/{id}(id=${article.id})}"><button type="submit" class="btn btn-primary" id="publishButton">Publier</button>
        </form>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Sélectionnez les champs nécessaires
                const titreInput = document.getElementById("titreInput");
                const contenuInput = document.getElementById("contenuInput");
                const dateInput = document.getElementById("dateInput");
                const heureInput = document.getElementById("heureInput");
                const athleteInput = document.getElementById("athleteInput");
                const paysInput = document.getElementById("paysInput");
                const auteurInput = document.getElementById("auteurInput");
                const publishButton = document.getElementById("publishButton");

                // Fonction pour vérifier si tous les champs sont remplis
                function checkFields() {
                    const titreValue = titreInput.value.trim();
                    const contenuValue = contenuInput.value.trim();
                    const dateValue = dateInput.value.trim();
                    const heureValue = heureInput.value.trim();
                    const athleteValue = athleteInput.value.trim();
                    const paysValue = paysInput.value.trim();
                    const auteurValue = auteurInput.value.trim();

                    // Activer le bouton si tous les champs requis sont remplis
                    if (titreValue !== "" && contenuValue !== "" && dateValue !== "" && heureValue !== "" && athleteValue !== "" && paysValue !== "" && auteurValue !== "") {
                        publishButton.disabled = false;
                    } else {
                        publishButton.disabled = true;
                    }
                }

                // Écoutez les événements de changement pour chaque champ
                titreInput.addEventListener("input", checkFields);
                contenuInput.addEventListener("input", checkFields);
                dateInput.addEventListener("input", checkFields);
                heureInput.addEventListener("input", checkFields);
                athleteInput.addEventListener("change", checkFields);
                paysInput.addEventListener("change", checkFields);
                auteurInput.addEventListener("change", checkFields);

                // Assurez-vous que le bouton est désactivé au chargement initial
                checkFields();
            });
        </script>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
